<div class="starter-template">
    <h1>Welcome to Black Rabbit</h1>
    <p class="lead">
        <img src="/image/blackrabbit.jpg">
    </p>

    <h1>0.01 TODO [webnano]</h1>
    <h2>布局</h2>
    <ul>
        <li>对文档进行分类</li>
        <li><del>添加两边浮动快捷栏</del> 不实用</li>
        <li><del>隐销用户管理窗口</del> 发布时待定</li>
    </ul>
    <h2>文档</h2>
    <ul>
        <li>添加文档标签信息 对数据分类中</li>
        <li>获取文档点击量信息</li>
        <li>对文档按标签，点击量分类</li>
    </ul>
    <h2>管理</h2>
    <ul>
        <li><del>添加管理员文档管理窗口</del> 完成</li>
        <li><del>添加管理员在线编辑和MD在线预览</del> 推后</li>
        <li><del>添加用户权限和文档标记</del> 用户权限已完成标记正在进行中</li>
        <li><del>进行数据备份和数据优化</del> 手动备份已完成，自动备份和数据优化发布时待定</li>
    </ul>
</div>