<div class="section-container">
    <h1>布局</h1>
    <ul>
        <li>对文档进行分类</li>
        <li>添加两边浮动快捷栏</li>
        <li>隐销用户管理窗口</li>
    </ul>
    <h1>文档</h1>
    <ul>
        <li>添加文档标签信息</li>
        <li>获取文档点击量信息</li>
        <li>对文档按标签，点击量分类</li>
    </ul>
    <h1>管理</h1>
    <ul>
        <li>添加管理员文档管理窗口</li>
        <li>添加管理员在线编辑和MD在线预览</li>
        <li>添加用户权限和文档标记</li>
        <li>进行数据备份和数据优化</li>
    </ul>
    <button class="btn btn-blue" data-toggle="modal" data-target="#myModal">
  		Launch demo modal
	</button>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-blue" data-dismiss="modal">Close</button>
            <button type="button" class="btn-blue">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>