<div class="section-container">
    <div class="marketing-header">
        <h1>提交文档</h1>
    </div>
    <form class="form" method="post" enctype="multipart/form-data">
        <div class="input-unit">
            <label>文件名称</label>
            <input class="input" name="file_name" id="file-target">
        </div>
        <div class="input-file">
            <button>上传文件</button>
            <input type="file" name="file" id="file-source">
        </div>
        <div class="input-unit">
            <button type="submit" class="btn-blue">确认上传</button>
        </div>
    </form>
    <script src="/javascripts/upfile.js"></script>
    <div class="form-info">
        <p>只允许管理员上传文档：</p>
        <p>－文档应用Mardown格式编写。</p>
        <p>－文档应使用特定格式对现实代码着色。</p>
        <p>－上传文档应为Html格式。</p>
    </div>
</div>