<div class="section-container">
    <div class="marketing-header">
        <h1>用户登录</h1>
    </div>
    <form class="form" method="post">
            <div class="input-unit">
                <label for="username">用户名:</label>
                <input class="input" type="text" name="username" id="username">
            </div>
            <div class="input-unit">
                <label for="password">密码:</label>
                <input class="input" type="password" name="password" id="password">
            </div>
            <div class="input-unit">
                <label></label>
                <div class="input-fake">
                    <button type="submit" class="btn-blue">登陆</button>
                </div>
            </div>
            <div class="input-unit">
            <% if(success.length > 0){%>
                <div class="info-success"><%= success %></div>
            <% } %>
            <% if(error.length > 0){ %>
                <div class="info-error"><%= error %></div>
            <% } %>
            </div>
    </form>
    
</div>