<div class="section-container">
    <div class="marketing-header" style="text-align:center">
        <h1><%= title %></h1>
        <div class="lead">
            <p>测试文章</p>
        </div>
    </div>
    <hr>
    <link rel="stylesheet" href="/stylesheets/markdown_code.css" >
    <div class="markdown-container"><%- content %></div>
</div>