body {
    color: rgb(0,0,0);
    font-size: 14px;
    font-family:Helvetica, arial, freesans, clean, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    background-color:#eee;
}

*{
    margin:0;
    padding:0;
}

h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin:0.7em 0 .4em 0;
    font-weight: bold;
    
}
h3 {
    display: block;
    font-size: 1.17em;
    margin:1em 0 .8em 0;
    font-weight: bold;
}
h4 {
    display: block;
    margin: 1.4em 0 1em 0;
    font-weight: bold;
}
.marketing-header {
    margin-bottom: 1em;
}
.marketing-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: normal;
}
.marketing-header .lead {
    margin-top: 0;
    margin-bottom: 0;
    color: #777;
}
code {
    background-color: #f8fff8;
    color: #060;
    padding: 1px 3px;
    font-size: .9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

pre, code {
    font-family: 'Envy Code R','Droid Sans Mono','Bitstream Vera Sans Mono','DejaVu Sans Mono',Inconsolata,Consolas,monospace;
    padding: .1em 1em;
    overflow-x: auto;
    color: inherit;
    font-size: 1em;
}
pre{
    color:#060;
}
ul,ol{
    list-style-position:inside;
}
.btn{
    margin:1em 0;
}
.hide{
    display:none;
}
/************ file::layout start**********/
#body{
    padding-top:45px;
}
/** navbar **/
nav{
    position:absolute;
    top:0;
    font-size:18px;
    width:100%;
    background-color:black;
}
nav .caret{
    border-top-color: white;
	border-bottom-color: white;
}
nav .dropdown-menu{
    background-color:black;
}
nav .dropdown-menu > li > a{
    color:white;
    font-weight:bold;
}
.navbar-fixed-top{
    position:fixed;
    top:0;
    z-index:990;
}
.navbar-right{
    display:inline-block;
    position:absolute;
    right:0;
    top:0;
}

.navbar-brand{
    display:inline-block;
    margin:0.5em 2em;
}
.navbar-brand > a{
    color:white;
    outline: none;
    font-weight:700;
    text-decoration:none;
}
.navbar-brand > a:hover
{
    outline: none;
    font-weight:700;
    text-decoration:none;
}

.navbar-collapse{
    display:inline-block;
}
.navbar-ul{
    display:inline-block;
    padding:0 .5em;

}
.navbar-ul li {
    margin:0.5em 0.3em;
    display:inline-block;
    list-style-type:none;
}
.navbar-ul li a{
    color:white;
    outline: none;
    font-weight:500;
    text-decoration:none;
    opacity:.8;
}
.navbar-ul li a:hover{
    opacity:1;
}
/** footer **/
footer{
    background-color:black;
    width:100%;
    color:white;
    overflow:auto;
}
footer p{
    margin:0.5em 0.5em 0.5em 2em;
}
footer a{
    outline:none;
    text-decoration:none;
}
/************ file::layout end************/

/************ type::document start********/
.container{
    width:70%;
    min-height:688px; /* test DEL */
    margin:0 auto;
    background-color:white;
    overflow:auto;
}
.section-container{
    margin:1em 4em 1em 4em;
}
.section-container > h1{
    margin:0.2em 0;
    text-align:left;
    vertical-align:middle;
}
.section-container > hr{
    color:#ccc;
    background-color:#ccc;
    line-height:1.5;
}
.section{
    margin:3em 0;
}
.section > h2{
    margin:0.2em 0;
}
.section > h2 > a{
    text-decoration:none;
}
.small-container{
    color:#444;
}
.small-container > small > span[class="js_author"]{
}
.small-container > small > span[class="js_time"]{
    float:right;
}

.section-footer{
    display:inline-block;
    text-align:center;
    font-size:18px;
}
/************ type::document end**********/

/************ type::form start********/
.form{
    border-top:1px solid #ccc;
    font-size:18px;
    width:100%;
}
.input-unit{
    margin:1.5em 0;
}
.input-unit > label{
    text-align:right;
    display:inline-block;
    width:4em;
}
.input{
    margin-left:1em;
    padding-left:.5em;
    height:2em;
    width:60%;
    border:1px solid #ccc;
}
.input-fake{
    display:inline-block;
    margin-left:1em;
    width:60%;
    text-align:right;
}
button{
    border:1px solid #999;
    background-color:white;
    padding:0.2em 0.5em;
}
button:hover{
    opacity:1;
}
.input-unit > button{
    font-size:18px;
}

.btn-red{ 
    color:white;
    border:1px solid red;
    background-color:red;
    font-weight:400;
    opacity:0.7;
}
.btn-blue{
    color:white;
    border:1px solid #428bca;
    background-color:#428bca;
    font-weight:400;
    opacity:0.8;
}

.info-success{
    width:100%;
    color:green;
    font-size:18px;
    text-align:center;
}
.info-error{
    width:100%;
    color:red;
    font-size:18px;
    border:1px solid red;
    text-align:center;
    font-weight:500;
    opacity:0.8;
}
.checkbox-container{
    margin-left:1em;
    display:inline-block;
    width:60%;
}
/**** 上传文件css 修改 ****/
.input-file{
    text-align:right;
    display:inline-block;
    position:relative;
    height:2em;
    width:4em;
}
.input-file  input{
    opacity:0;
    font-size:18px;
    width:5em;
    height:1.8em;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}
.input-file  button{
    font-size:18px;
    z-index:1;
}
.input-file input{
    height:2em;
}
.input-label{
    margin-left:1em;
    padding-left:.5em;
    height:2em;
    width:10em;
    border:1px solid #ccc;
}
.label-upload{
    display:inline-block;
    margin:4px;
    padding:4px 6px;
    color:white;
   	background-color:#5BC0DE;
    border:none;
}
#upload-submit{
    text-align:right;
    margin:1em;
}
/************ type::form end**********/

/************ type::markdown start********/

.highlight,
.markdown-container pre{
    border:1px solid #eee;
    margin:1em 0;
    background-color:#F8FFF8;
}
.markdown-container pre code{
    background-color:#F8FFF8;
}
.markdown-container .highlight pre{
    border:none;
    margin:0;
}
.markdown-container table{
}
/************ type::markdown end**********/
